<li class="endpoint-item noun-get">
  <div class="endpoint-heading">
    <span class="noun fleft">GET</span>
    <a href="/check/status/complete" target="_blank" class="endpoint-name fleft">/check/status/complete</a>
  </div>
  <div class="endpoint-content">
    <h3>Response Body</h3>
<pre>
{
  "ok": true,
  "applicationName": "dragons-api",
  "checks":[
    {
      "ok": true,
      "name": "mongo",
      "error": "",
      "details": {
        "url": "localhost"
      }
    }
  ]
}
</pre>
  </div><!-- .endpoint-content -->
</li>
