<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
  <title>{{title}}</title>

  <link href="http://fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" media="all">
  <link rel="stylesheet" href="/stylesheets/all.min.css">
</head>
<body>
<header id="header">
  <div class="content">
    <h1 id="header-title">{{title}}</h1>
  </div>
</header><!-- #header -->

{% block content %}
{% endblock %}

<script src="/javascripts/all.min.js"></script>
<script src="http://localhost:35729/livereload.js"></script>
</body>
</html>
